@model EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Yeni Ekip Arkadaşı Ekleme Sayfası</h4>
			<form class="forms-sample" method="post">
				<div class="form-group">
					<label for="exampleInputName1">İsim-Soyisim</label>
					<span asp-validation-for="PersonName" class="text-danger"></span>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="İsim-Soyisim" asp-for="PersonName">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Departman</label>
					<span asp-validation-for="Title" class="text-danger"></span>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Departman" asp-for="Title">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Görsel</label>
					<span asp-validation-for="ImageUrl" class="text-danger"></span>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Görsel" asp-for="ImageUrl">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Facebook</label>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Facebook" asp-for="FacebookUrl">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Instagram</label>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Instagram" asp-for="InstagramUrl">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Web Sayfası</label>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Web Sayfası" asp-for="WebsiteUrl">
				</div>
				<div class="form-group">
					<label for="exampleInputName1">Twitter</label>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Twitter" asp-for="TwitterUrl">
				</div>
				<button type="submit" class="btn btn-dark">Kaydet</button>
				<button type="reset" class="btn btn-outline-warning">Vazgeç</button>
			</form>
		</div>
	</div>
</div>

